<div class="row mb-5">
  <div class="col">
    <h1>Your posts</h1>
  </div>
</div>


<div class="row mb-5">
  <div class="col">
    <h2>Published posts</h2>
    <%= render 'post_list', posts: @published_posts, published: true %>
  </div>
</div>

<div class="row mb-5">
  <div class="col">
    <h2>Unpublished posts</h2>
    <%= render 'post_list', posts: @unpublished_posts, published: false %>
  </div>
</div>
