
<% if ActsAsTaggableOn::Tag.any? %>
  <h3>Posts by Tag</h3>
  <ul class="list-group">
    <% Post.published.tag_counts_on(:tags).order(:name).each do |tag| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <%= link_to tag.name, posts_path(tag: tag.name)  %>
      <span class="badge badge-primary badge-pill"><%= Post.published.tagged_with(tag).count %></span>
    </li>
    <% end %>
  </ul>
<% end %>

