<div>
  <%= link_to "All Posts", posts_path %>
  <% if ActsAsTaggableOn::Tag.any? %>
    <h2>Posts by Tag</h2>
    <ul>
      <% ActsAsTaggableOn::Tag.where('taggings_count > 0').each do |tag| %>
      <li>
        <% link_text = "#{tag.name} (#{tag.taggings_count})" %>
        <%= link_to link_text, posts_path(tag: tag.name)  %>
      </li>
      <% end %>
    </ul>
  <% end %>

</div>
